.course-info > img {
    width: 100px;
    height: 80px;
    /* background-color: red; */
}

/* .course-photo {
    width: 100%;
    background-color: rgb(0,128,64);
    border-radius: 10px;
} */

.course-image{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 100% 0;
    border-radius: 10px;
}
.course-name {
    font-size: 18px;
    font-weight: 600;
}

.events-link {
    color: rgb(0,128,64);
    font-weight: 600;
    font-size: 12px;
    padding: 4px;
    border-radius: 28px;
}

.events-link:hover {
    background-color: whitesmoke;
    cursor: pointer;
}