#create-event-modal-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#create-event-modal {
    /* top: 120px;
    left: 500px;
    position: fixed; */
    z-index: 100;
    margin-top: 100px;
}

#edit-event-modal {
    position: fixed;
    top: 60px;
    left: 500px;
    z-index: 100;
}

#create-event-modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#future-date{
    text-align: center;
    color: red;
    font-style: italic;
    font-size: 14px;
}