#create-event-modal-container {
    height: 100%;
}

#create-event-modal {
    top: 120px;
    left: 500px;
    position: fixed;
    z-index: 100;
}

#edit-event-modal {
    position: fixed;
    top: 60px;
    left: 500px;
    z-index: 100;
}

#create-event-modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 140vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}