
.event-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
    height: 100vh;
    padding-top: 0px;

}

.event-page #navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5vh;
}

#events-page {
    display: grid;
    grid-template-columns: 600px 850px;
    height: 92vh;
    padding-top: 40px;
    /* padding-bottom: 100px; */
    /* background-color: red; */
    /* display: flex; */
    /* flex-direction: row; */
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#events-container, #map {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: white; */
    border-radius: 10px;
    /* margin: 20px; */
    overflow: scroll;
    overflow-x: hidden;
}

#events-slogan {
    font-size: 28px;
    font-weight: 600;
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 130px;
    padding-left: 20px;
}

#events-header {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

#create-event-btn {
    margin-left: 15px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    border-radius: 28px;
    column-gap: 8px;
    color: gray;
    width: 215px;
}

#create-event-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

#event-items {
    width: 100%;
    margin-left: 10%;
    height: 100vh;
}