.event-item-left {
    display: flex;
}

.event-item-container {
    margin-left: -12px;
    padding: 10px;
    /* width: 130%; */
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    height: 160px;
    width: 530px;
}

.event-item-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-members {
    display: flex;
    margin-bottom: 10px;
}

.member-1, .member-2, .member-3, .member-4 {
    width: 50px;
    height: 50px;
    background-color: rgb(0,128,64);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2.5px solid white;
}

.member-2 {
    margin-left: -15px;
}

.member-3 {
    margin-left: -15px;
}

.member-4 {
    margin-left: -15px;
}

.member-count {
    display: flex;
    align-items: center;
    color: gray;
    font-size: 14px;
    margin-left: 6px;
}


.event-date {
    color: rgb(0,128,64);
    font-weight: 600;
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.event-item-border {
    border-bottom: 1px solid lightgray;
    padding-top: 10px;
    /* padding-bottom: 10px; */
    width: 100%;
}

.event-item-border-container {
    display: flex;
    justify-content: center;
    width: 400px;
}

.attendee-count {
    font-size: 14px;
    color: gray;
}

.event-item-right {
    display: flex;
    flex-direction: column;
    
}

.suggested-event {
    display: flex;
    justify-content: flex-end;
}

.event-name {
    font-weight: bold;
    font-size: 24px;
}

.event-description {
    font-size: 14px;
    color: gray;
}

.event-item-info {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.event-action {
    display: flex;
    align-items: center;
    column-gap: 6px;
    margin-top: 4px;
    border-radius: 28px;
    padding: 4px;
}

.event-action:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.event-action > p {
    font-size: 14px;
}

.event-img {
    background-color: rgb(0,128,64);
    border-radius: 10px;
    height: 70px;
    width: 80px;
}

.suggested-event {
    font-weight: 600;
}

#edit-event-modal {
    margin-top: 60px;
    position: fixed;
    top: 60px;
    left: 500px;
}

.leave-event, .attend-event {
    display: flex;
    column-gap: 4px;
}

.leave-event-p, .attend-event-p {
    font-size: 14px;
}

.leave-event {
    color: gray;
}

#edit-actions {
    font-size: 24px;
}

.event-actions-toggle:hover {
    cursor: pointer;
}