#events-page {
    display: grid;
    grid-template-columns: 520px 960px;
    height: 100vh;
}

#events-container, #map {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
}

#events-slogan {
    font-size: 28px;
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

#events-header {
    display: flex;
    align-items: center;
}

#create-event-btn {
    margin-left: 110px;
    margin-right: 10px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    border-radius: 28px;
    column-gap: 8px;
    color: gray;
}

#create-event-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}