.groups-page {
    display: flex;
    height: 100vh;
}

.groups-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 20px;
    z-index: 1;
    width: 50%;
}

.group-button-container {
    display: flex;
    justify-content: space-between;
}

.group-selector {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.group-selector-button {
    padding: 10px 15px;
    background-color: rgb(43, 195, 119);
    margin: 10px 10px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
}

.group-selector-button:hover {
    transform: scale(1.1);
    background-color: rgb(78, 231, 154);
}

.group-show {
    margin: 20px;
    background-color: white;
    width: 50%;
    min-height: min-content;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.group-show h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

#line {
    width: 95%;
    border: solid 1px lightgrey;
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#groups-title {
    font-size: 28px;
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

#groups-header {
    display: flex;
    align-items: center;
}

#create-group-btn {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    display: flex;
    padding: 6px 16px;
    width: 120px;
    border-radius: 28px;
    column-gap: 8px;
    color: black;
}

#create-group-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

#edit-group-btn {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    display: flex;
    padding: 6px 12px;
    width: 140px;
    border-radius: 28px;
    column-gap: 8px;
    color: black;
    text-align: center;
}

#edit-group-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}