.group-show-top {

    display: flex;
    justify-content: space-between;
    /* display: flex; */
    /* justify-content: flex-start; */
    align-items: center;
    /* margin-top: 30px;
    margin-left: 25px; */
    padding: 30px;
    padding-bottom: 10px;
    max-height: 100px;
}
.close{
    padding-bottom: 70px;
}

.group-show-heading {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.group-show-name {
    font-size: 24px;
    font-weight: bold;
    margin-right: 15px;
}

.group-show-member-status {
    color: rgb(0,128,64);
}

.group-show-top-left {
    margin-right: 0px;
    width: 50%;
}

.group-show-description {
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.group-show-description p {
    color: grey;
    line-height: 20px;
}

.group-show-top-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.group-show-top-right p {
    margin-left: 15px;
    margin-bottom: 5px;
    color: grey;
    margin-top: 5px;
}

.group-show-top-icon {
    margin-right: 15px;
}

#group-show-line {
    border: 1px solid lightgrey;
    margin-top: 20px;
    width: 90%;
    margin-left: 30px;
}

.group-show-events-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}

.group-show-events-header button {
    margin-left: 20px;
    margin-right: 0px;
    font-size: 14px;
    display: flex;
    padding: 10px 8px;
    width: 140px;
    border-radius: 28px;
    color: black;
    text-align: center;
    background-color: white;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.15)
}

.group-show-events-header button:hover{
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.add-group-event:hover {
    background-color: rgb(53, 207, 130);
}

.group-show-events-header h1 {
    /* margin-top: 20px; */
    font-size: 18px;
    color: grey;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.group-show-events-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 20px;
}

.group-events {
    width: 90%;
    margin-left: 8%;
}

.group-show-container {
    overflow: scroll;
}