.group-item-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    height: 150px;
    justify-content: space-between;
    margin-bottom: 30px;
    border-radius: 14px;
    background-color: rgb(142,200,64);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.group-item-top-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
}

.group-name {
    margin-left: 20px;
    font-weight: bold;
}

.group-events-modal-link {
    cursor: pointer;
}

.group-item-content-container {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    border-radius: 12px;
    background-color: white;
}

.group-members-container {
    margin-top: 5px;
    max-width: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.group-members-container p {
    margin: 5px 5px;
}

.group-information-container {
    margin-top: 8px;
}

.group-information-container p {
    margin: 5px auto;
}