.group-show-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    margin-left: 25px;
    max-height: 100px;
}

.group-show-heading {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.group-show-name {
    font-size: 24px;
    font-weight: bold;
    margin-right: 15px;
}

.group-show-member-status {
    color: rgb(0,128,64);
}

.group-show-top-left {
    margin-right: 40px;
    width: 50%;
}

.group-show-description {
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.group-show-description p {
    color: grey;
    line-height: 20px;
}

.group-show-top-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.group-show-top-right p {
    margin-left: 15px;
    margin-bottom: 5px;
    color: grey;
    margin-top: 5px;
}

.group-show-top-icon {
    margin-right: 15px;
}

#group-show-line {
    border: 1px solid lightgrey;
    margin-top: 20px;
    width: 90%;
    margin-left: 30px;
}

.group-show-events-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.group-show-events-header button {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 180px;
    font-size: 14px;
    display: flex;
    padding: 10px 10px;
    width: auto;
    border-radius: 50%;
    color: black;
    text-align: center;
    background-color: rgb(0,128,64);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    color: white;
}

.group-show-events-header h1 {
    margin-top: 20px;
    font-size: 18px;
    color: grey;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.group-show-events-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 20px;
}

.group-events {
    width: 90%;
    margin-left: 8%;
}

.group-show-container {
    overflow: scroll;
}