.session-form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}

#login-form-container {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    padding: 30px;
    width: 400px;
    height: 400px;
    margin-bottom: 10px;
    width: 500px;
}

#signup-form-container {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    width: 400px;
    height: 400px;
    margin-bottom: 160px;
    width: 500px;
}

.login-header-container {
    margin-bottom: 20px;
}

#login-header {
    font-size: 28px;
    font-weight: bold;
}

#login-header-info {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    color: grey;
    margin-top: 10px;
}

#signin-header-info {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    color: grey;
    margin-top: 10px;
}

.login-form-input {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

input[type=text] {
   padding-left: 10px;
   font-family: 'Roboto Slab', serif;
}

input[type=password] {
    padding-left: 10px;
}

.signup-form-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 350px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.signup-form-input > label {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-right: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

.signup-form-input > input {
    width: 480px;
    height: 35px;
    border-radius: 12px;
    border: 1px solid lightgrey;
    padding: auto 10px;
}

#login-form-input-email {
    margin-right: 75px;
}

.login-form-input > label {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    margin-right: 30px;
    margin-bottom: 10px;
}

.login-form-input > input {
    width: 485px;
    height: 40px;
    border-radius: 12px;
    border: 1px solid lightgrey;
    padding: auto 10px;
}

.login-btn {
    color: white;
    margin-bottom: 10px;
    width: 500px;
    height: 50px;
    border-radius: 16px;
    background-color: rgb(0,128,64);
    margin-top: 20px;
    padding: 20px auto;
    font-size: 18px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-btn:hover {
    background-color: rgb(35, 180, 108);
    transition: 140ms;
}

#demo-login {
    margin-bottom: 30px;
}

#signup-btn {
    color: white;
    margin-bottom: 30px;
    width: 200px;
    height: 50px;
    border-radius: 16px;
    background-color: rgb(0,128,64);
    margin-top: 20px;
    padding: 20px auto;
    font-size: 18px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 120px;
}

#signup-btn:hover {
    background-color: rgb(35, 180, 108);
    transition: 140ms;
}

.login-form-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#login-btn:hover {
    cursor: pointer;
}

#login-footer-info {
    text-align: center;
    width: 500px;
}

#signin-footer-info {
    text-align: center;
    width: 400px;
}

#signup-link {
    text-decoration: underline;
    color: rgb(142,200,64);
    font-weight: 600;
}

.session-form-image img {
    min-height: 700px;
    max-width: 750px;
    top: -100px;
}

#session-logo {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 28px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 25px;
    color: rgb(0,128,64);
}

#session-logo p {
    font-size: 28px;
}

.email-errors {
    margin-left: 10px;
    font-weight: 200;
    font-size: 13px;
    font-style: italic;
    color: red;
}

.password-errors {
    margin-left: 10px;
    font-weight: 200;
    font-size: 13px;
    font-style: italic;
    color: red;
}

.firstName-errors {
    margin-left: 10px;
    font-weight: 200;
    font-size: 13px;
    font-style: italic;
    color: red;
}

.lastName-errors {
    margin-left: 10px;
    font-weight: 200;
    font-size: 13px;
    font-style: italic;
    color: red;
}

.password2-errors {
    margin-left: 10px;
    font-weight: 200;
    font-size: 13px;
    font-style: italic;
    color: red;
}

.password-signup-errors {
    margin-left: 10px;
    font-weight: 200;
    font-size: 13px;
    font-style: italic;
    color: red;
}

.password-signup-errors {
    margin-left: 10px;
    font-weight: 200;
    font-size: 13px;
    font-style: italic;
    color: red;
}

