.session-form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}

#login-form-container {
    display: flex;
    flex-direction: column;
    margin-left: 150px
}

#login-header {
    font-size: 36px;
    font-weight: 500;
}

#login-header-info {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    margin-bottom: 20px;
}

.login-form-input {
    display: flex;
    width: 350px;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.login-form-input > label {
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: flex-end;
}

.login-form-input > input {
    width: 200px;
    height: 25px;
    border-radius: 12px;
    border: 1.5px solid rgb(142,200,64);
}

.login-form-footer button {
    margin-bottom: 10px;
    color: white;
    margin-bottom: 20px;
    width: 120px;
    height: 30px;
    border-radius: 26px;
    background-color: rgb(142,200,64);
    border: 1px solid white;
    cursor: pointer;
}

#login-btn {
    border-radius: 28px;
    border-style: none;
    padding: 6px 16px;
    background-color: black;
    font-weight: 600;
    font-size: 18px;
    color: white;
}

#login-btn:hover {
    cursor: pointer;
}

.session-form-image img {
    min-height: 700px;
    max-width: 650px;
    top: -200px;
}