#navbar {
    top: 0;
    left: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    background-color: white;
    padding: 15px;
    width: 100%;
    z-index: 10;
}

#navbar-left {
    display: flex;
    column-gap: 10px;
    color: rgb(0,128,64);
}

#navbar-right, #navbar-welcome {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

#navbar-welcome {
    font-size: 20px;
}

#navbar-logo {
    font-size: 36px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    /* padding-left: 20px; */
    margin-left: 20px;
    color: rgb(0,128,64);
}

#navbar-logo:hover {
    cursor: pointer;
}

#navbar-slogan {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

.session-link {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    text-decoration: none;
}

.session-link:hover {
    transform: scale(1.1);
    transition: 150ms;
}

#session-links {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.session-link-icon {
    font-size: 16px;
    text-decoration: none;
    color: gray;
    /* font-weight: 600; */
}

.session-link-profile {
    width: 40px;
    height: 40px;
    background-color: rgb(0,128,64);
    border-radius: 50px;
    color: black;
}

.session-link-pro-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: green;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.session-link-profile {
    margin-right: 20px;
    margin-left: 10px;
}

.session-link-profile:hover {
    cursor: pointer;
}
.session-link-profile > img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    /* object-position: 100%; */
    border-radius: 50%;
}