

.left-right{
    display: flex;
    justify-content: center;
    /* background: red; */
    padding-top: 30px;
}

.profile-event-list > li {
    border: solid 1px black;
    width: 300px;
    margin: 5px;
    background-color: white;
}

.profile-page .left{
    padding: 10px;
    background-color: lightgreen;
    border-radius: 10px;
    margin-right: 10px;
}

.most-played > h1 {
    font-weight: bold;
    margin-bottom: 10px;
}

.right{
    margin-left: 10px;
}
.frequently-played-with-list-item{
    padding: 10px;
    border: solid 1px black;
    width: 200px;
}
.user-events h1{
    color: white;
    font-weight: bold;
    text-align: center;
}