

.left-right{
    display: flex;
    justify-content: center;
    /* background: red; */
    padding-top: 30px;
}

.profile-event-list{
    width: 100%;
}

.profile-event-list > li {
    border: solid 1px black;
    /* width: 100%; */
    width: 380px;
    /* margin: 5px; */
    background-color: white;
    padding: 10px;
}

.profile-page .left{
    padding: 10px;
    background-color: lightgreen;
    border-radius: 5px;
    margin-right: 10px;
    width: 400px;
    
}

.most-played > h1 {
    font-weight: bold;
    margin-bottom: 10px;
}

.right{
    margin-left: 10px;
}
.frequently-played-with-list-item{
    padding: 10px;
    border: solid 1px black;
    width: 200px;
    width: 100%;
}
.user-events h1{
    color: white;
    font-weight: bold;
    text-align: center;
}

.user-events{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}