.splash-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}

.splash-right-container img {
    min-height: 700px;
    max-width: 650px;
    top: -200px;
}

.splash-login-container {
    display: flex;
}

.splash-left-container {
    margin-left: 50px;
}

.splash-left-container h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.splash-left-container h3 {
    margin-bottom: 20px;
}

.splash-left-container button {
    color: white;
    margin-bottom: 20px;
    width: 120px;
    height: 30px;
    border-radius: 26px;
    background-color: rgb(142,200,64);
    border: 1px solid white;
}

.splash-login-redirect-text {
    margin-right: 5px;
}

.splash-login-redirect-link {
    text-decoration: underline;
}