@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700;800&display=swap');

.splash-container {
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: 'Roboto Slab', serif;
}

#navbar-logo-splash {
    font-size: 36px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 25px;
}

#navbar-slogan-splash {
    font-size: 48px;
    font-weight: bold;
}

.splash-right-container img {
    min-height: 700px;
    top: -200px;
    object-fit: cover;
    max-width: 1100px;
}

#splash-img {
    display: flex;
    justify-content: end;
    width: 850px;
    overflow: hidden;
}
 
.splash-login-container {
    display: flex;
}

.splash-left-container {
    max-width: 500px;
    margin-right: 350px;
}

@media only screen and (max-width: 1600px) {
    .splash-left-container {
        margin-left: 90px;
        margin-right: 90px;
    }

    #splash-img {
        justify-content: center;
    }
}

.splash-logo-text-description {
    margin-bottom: 24px;
}

.splash-left-container h3 {
    margin-bottom: 20px;
}

.splash-left-container button {
    color: white;
    margin-bottom: 30px;
    width: 140px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(0,128,64);
    margin-top: 20px;
    padding: 20px auto;
    font-size: 18px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.splash-left-container button:hover {
    transform: scale(1.1);
    transition: 140ms;
}

.splash-login-redirect-text {
    margin-right: 5px;
}

.splash-login-redirect-link {
    text-decoration: underline;
    color: rgb(0,128,64);
}

#splash-img > img {
    object-fit: cover;
    height: 102vh;
    margin-top: -12px;
}

#demoo{
    background-color: gray;
    margin-left: 15px;
}